<%= render "shared/header" %>

<%# 投稿一覧 %>
<div class='main'>

    <ul class="content-lists">
    <% @contents.each do |content| %>
    <% if current_user.id == content.user_id %>
      <li class='list'>
          <%# if content.image = nil %>
        <%= image_tag content.image, class: "content-img" if content.image.attached? %>
          <%# else %>
          <%# 画像無しの場合代替え画像表示予定 %>
          <%# end %>
        <div class='content-info-left'>
        <%= link_to content_path(content.id) do %>
          <h1 class='friend-name'><%= content.name %></h1>
        <% end %>
          <h2 class='content-title'><%= content.title %></h2>
          <div class="text-title">MEMO</div>
          <h3 class='content-text'><%= content.text %></h3>
        </div>
        <div class='content-info-light'>
          <div class='content-day'><%= content.date %></div>
        <% if content.money != nil %>
          <div class='content-money'>¥<%= content.money %>円</div>
        <% else %>
          <div class='content-money'>¥ - 円</div>
        <% end %>
          <div class='content-category'>カテゴリー：<%= content.category.name %></div>
        </div>
      </li>
      <% end %>
    <% end %>

      <%# 投稿サンプル %>
      <li class='list'>
        <img src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" class='content-img'>
        <div class='content-info-left'>
          <h1 class='friend-name'>贈り人</h1>
          <h2 class='content-title'>タイトル</h2>
          <h3 class='content-text'>テキスト</h3>
        </div>
        <div class='content-info-light'>
          <div class='content-day'>20XX/ - / - </div>
          <div class='content-money'>¥ - 円</div>
          <div class='content-category'>カテゴリー</div>
        </div>
      </li>
      <%# 投稿サンプル %>
    </ul>

</div>
<%# /投稿一覧 %>

<%= render "shared/footer" %>
