<%= render "shared/header" %>

<div class="show-main">
  <%# 投稿詳細部 %>
<div class="content-show">
  <div class='show-list'>
  <%# if content.image = nil %>
    <%= image_tag @content.image, class: "content-img" if @content.image.attached? %>
  <%# else %>
  <%# 画像無しの場合代替え画像表示予定 %>
  <%# end %>
    <div class='show-content-info-left'>
      <h1 class='show-friend-name'><%= @content.name %></h1>
      <h2 class='show-content-title'><%= @content.title %></h2>
      <div class="show-text-title">MEMO</div>
      <h3 class='show-content-text'><%= @content.text %></h3>
    </div>
    <div class='show-content-light'>
      <div class='show-content-day'><%= @content.date %></div>
    <% if @content.money != nil %>
      <div class='show-content-money'>¥<%= @content.money %>円</div>
    <% else %>
      <div class='show-content-money'>¥ - 円</div>
    <% end %>
      <div class='show-content-category'>カテゴリー：<%= @content.category.name %></div>
    </div>
  </div>
</div>
  <%# 投稿詳細部 %>

  <%# 編集・削除ボタン %>
  <div class="edit-btn-content">
    <%= link_to "編集", edit_content_path, method: :get, class:"edit-btn" %>
    <%= link_to "削除", content_path, method: :delete, class:"delete-btn" %>
  </div>
  <div class="back-btn-wrap">
    <%= link_to 'もどる', root_path, class:"show-back-btn" %>
  </div>
  <%# 編集・削除ボタン %>
</div>

<%= render "shared/footer" %>