<%= render "shared/second-header" %>

  <%# 投稿詳細部 %>

  <div class='list'>
  <%# if content.image = nil %>
    <%= image_tag @content.image, class: "content-img" if @content.image.attached? %>
  <%# else %>
  <%# 画像無しの場合代替え画像表示予定 %>
  <%# end %>
    <div class='content-info-left'>
      <h1 class='friend-name'><%= @content.name %></h1>
      <h2 class='content-title'><%= @content.title %></h2>
      <div class="text-title">MEMO</div>
      <h3 class='content-text'><%= @content.text %></h3>
    </div>
    <div class='content-info-light'>
      <div class='content-day'><%= @content.date %></div>
    <% if @content.money != nil %>
      <div class='content-money'>¥<%= @content.money %>円</div>
    <% else %>
      <div class='content-money'>¥ - 円</div>
    <% end %>
      <div class='content-category'>カテゴリー：<%= @content.category.name %></div>
    </div>
  </div>

  <%# 投稿詳細部 %>

  <%# 編集・削除ボタン %>
    <%= link_to  %>

  <%# 編集・削除ボタン %>


<%= render "shared/second-footer" %>